@using FinalBoss.Models

@{
    ViewData["Title"] = "Boss List";
    Layout = "_Layout";
}

ima boss splash
<p>
	@Html.ActionLink("Add Boss", "Create")
</p>

@foreach(var boss in Model)
{
    <p>
	    <strong>@boss.Name</strong> (is threat: @boss.ImmediateThreat) | 
	    @Html.ActionLink("Details", "Details", new { id = @boss.BossId }) | 
	    @Html.ActionLink("Edit", "Edit", new { id = @boss.BossId }) |
	    @Html.ActionLink("Delete", "Index", new { id = @boss.BossId, name = @boss.Name })
	    @using (Html.BeginForm("ToggleThreat", "Boss", new { id = @boss.BossId }))
	    {
            <input type="submit" value="change threat"/>
        }    
    </p>

}
<p>
    @Html.ActionLink("Return to boss splash", "Index", "Home")
</p>

@if (ViewBag.ModalId != null)
{
    <div class="modal">
        <h1>Has @ViewBag.ModalName truly been vanquished?</h1>
	    @using (Html.BeginForm("Delete", "Boss", new { id = ViewBag.ModalId}))
        {
            <input type="submit" value="Ayyye!"/>
        }

    </div>
}